<% provide(:title, "About") %>
<title><%= yield :title %></title>

<body>
	<h1>About</h1>
	<div id="container">
		<div id="content">
			<p>This is an app that will help you organize your life through the generation to do lists! So what makes this app special you may ask? Not only are you pressured to get your tasks done by the deadline you set for yourself, but you can also assign tasks to other people you may know! So get up, stop thinking, and start doing!</p>
		</div>
	</div>
</body>
