<% provide(:title, "Contact") %>
<title><%= yield :title %></title>

<body>
	<h1>Contact</h1>
	<div id="container">
		<div id="content">
			<dl>
			<dt>Joshua Angeley, lead software hipster intern at coshx labs</dt>
			<dd>email: joshangeley@coshx.com</dd>
			<dd>cell phone: 434-327-7513</dd>
			<dd>alt email: joshua.1voice@gmail.com</dd>
			<dd>github: github.com/willfire19</dd>
			<dt>Ben Taitelbaum, lead boss at coshx labs</dt>
			<dd>email: ben@coshx.com</dd>
			<dd>github: github.com/coshx</dd>
			<dd>website: www.coshx.com</dd>
		</div>
	</div>
</body>