<% provide(:title, "Version") %>
<title><%= yield :title %></title>

<body>
	<h1>Version</h1>
	<div id="container">
		<div id="content">
			<h2>Ultra Alpha</h2>
			<h3>Version 0.15</h3>
			<ul>
				<li>Deleting or Destroying a Todo will redirect you back to the previous page you were on</li>
				<li>The Status field will now appear in the Edit form if you submit the Edit form with incorrect data.</li>
				<li>The Edit Link on the Show Todo page is now working properly<li>
			</ul>
			<br>
			<h3>Version 0.125</h3>
			<ul>
				<li>The default Status of a Todo is 'To Do'</li>
				<li>The Status of a Todo is 'To Do' on creation of a Todo</li>
				<li>Priority is now limited from 1 to 11</li>
				<li>Difficulty is now limited from 1 to 100</li>
				<li>Got rid of the Password on the Profile Page</li>
				<li>Can now see the Due Date, Priority, and Difficulty of a Todo on the Profile page</li>
				<li>Can now edit the Status of a Todo on the Edit page</li>
				<li>Can now see the Difficulty and Status of a Todo on the Todo Index page</li>
			</ul>
			<br>
			<h3>Version 0.075</h3>
			<ul>
				<li>Todos can now be properly deleted on the home, profile, and todo index page</li>
			</ul>
			<br>
			<h3>Version 0.05</h3>
			<ul>
				<li>Fixed Gravatar Images</li>
				<li>Got Creepy Baby gif to work on 500.html page</li>
				<li>Added Contact Page</li>
				<li>Added About Page</li>
				<li>Added Version Page (the one you're on now)</li>
				<li>Added all new pages to date links to the header</li>
				<li>Added New Todo link to the header</li>
				<li>Added Status field to the Todo Object</li>
				<li>Added Difficulty field to the Todo Object</li>
			</ul>
		</div>
	</div>
</body>
