<% provide(:title, "Version") %>
<title><%= yield :title %></title>

<body>
	<h1>Version</h1>
	<div id="container">
		<div id="content">
			<h2>Ultra Alpha</h2>
			<h3>Version 0.075</h3>
			<ul>
				<li>Todos can now be properly deleted on the home, profile, and todo index page</li>
			</ul>
			<br>
			<h3>Version 0.05</h3>
			<ul>
				<li>Fixed Gravatar Images</li>
				<li>Got Creepy Baby gif to work on 500.html page</li>
				<li>Added Contact Page</li>
				<li>Added About Page</li>
				<li>Added Version Page (the one you're on now)</li>
				<li>Added all new pages to date links to the header</li>
				<li>Added New Todo link to the header</li>
				<li>Added Status field to the Todo Object</li>
				<li>Added Difficulty field to the Todo Object</li>
			</ul>
		</div>
	</div>
</body>
