<% provide(:title, "Version") %>
<title><%= yield :title %></title>

<body>
	<h1>Version</h1>
	<div id="container">
		<div id="content">
			<h2>Ultra Alpha</h2>
			<h3>Version 0.645</h3>
			<ul>
				<li>Creating or Updating Todos will redirect the User back to the page they were on before the todo form. Patriots vs Colts in playoffs 2013 I missed the first touchdown :(.  Go Patriots!</li>
			</ul>
			<br>
			<h3>Version 0.640</h3>
			<ul>
				<li>Added a blank option to the list selection in the New Todo form so that a Todo does not have to be associated with a List</li>
				<li>Fixed all the titles on all views so that the url is not the title</li>
			</ul>
			<br>
			<h3>Version 0.630</h3>
			<ul>
				<li>Users can now get their password reset (thanks for the suggestion Justin ;p )</li>
			</ul>
			<br>
			<h3>Version 0.625</h3>
			<ul>
				<li>Simplified the todo form so that todo creation will be much faster</li>
				<li>Now using jquery</li>
			</ul>
			<br>
			<h3>Version 0.605</h3>
			<ul>
				<li>Fixed bug so that Todos that don't have a list id assigned will show up on the todo table.</li>
			</ul>
			<br>
			<h3>Version 0.600</h3>
			<ul>
				<li>Users can now create lists!</li>
				<li>Users can now assign Todos to a specific list</li>
				<li>Temporarily disabled the feed to work out some bugs :( </li>
			</ul>
			<br>
			<h3>Version 0.425</h3>
			<ul>
				<li>The ToDo Table is now responsive on the Home Page</li>
				<li>Added the ElementQuery javascript to the app. This makes the ToDo Table responsive on the Home Page. Huge Thanks to Tyson Matanich! His website is here: <a href="http://matanich.com">http://matanich.com</a></li>
			</ul>
			<br>
			<h3>Version 0.375</h3>
			<ul>
				<li>The ToDo Table is now responsive so that Users can now shrink the browser and the ToDo Table will still present relevant data.</li>
				<li>There are issues with the ToDo Table on the homepage</li>
			</ul>
			<br>
			<h3>Version 0.325</h3>
			<ul>
				<li>The ToDo Table found on the User Profile Page has been refactored so that it is now a partial</li>
			</ul>
			<br>
			<h3>Version 0.30</h3>
			<ul>
				<li>Changed the Default Date Format.</li>
				<li>Changed the format of the DueDate on the User Profile Page</li>
				<li>Fixed some links that would send Users to the ToDo Index Page</li>
				<li>Changed the Url link to something a little more memorable</li>
			</ul>
			<br>
			<h3>Version 0.275</h3>
			<ul>
				<li>The Profile Page has been styled a bit. The User Todo's are much more readable now.</li>
				<li>The Todo Index Page will be phasing out, since there is no need for a Todo Index when all the Todos are listed on the User Profile Page</li>
			</ul>
			<br>
			<h3>Version 0.225</h3>
			<ul>
				<li>Tags have now been added to the Todo object. You can use them to classify specific Todos</li>
				<li>You can now choose between "To Do" and "In Progress" for the Status field on Todo Creation</li>
			</ul>
			<br>
			<h3>Version 0.20</h3>
			<ul>
				<li>The Todo entry field has been transformed from string to textarea</li>
				<li>The website has now been bootstrapped</li>
			</ul>
			<br>
			<h3>Version 0.15</h3>
			<ul>
				<li>Deleting or Destroying a Todo will redirect you back to the previous page you were on</li>
				<li>The Status field will now appear in the Edit form if you submit the Edit form with incorrect data.</li>
				<li>The Edit Link on the Show Todo page is now working properly<li>
			</ul>
			<br>
			<h3>Version 0.125</h3>
			<ul>
				<li>The default Status of a Todo is 'To Do'</li>
				<li>The Status of a Todo is 'To Do' on creation of a Todo</li>
				<li>Priority is now limited from 1 to 11</li>
				<li>Difficulty is now limited from 1 to 100</li>
				<li>Got rid of the Password on the Profile Page</li>
				<li>Can now see the Due Date, Priority, and Difficulty of a Todo on the Profile page</li>
				<li>Can now edit the Status of a Todo on the Edit page</li>
				<li>Can now see the Difficulty and Status of a Todo on the Todo Index page</li>
			</ul>
			<br>
			<h3>Version 0.075</h3>
			<ul>
				<li>Todos can now be properly deleted on the home, profile, and todo index page</li>
			</ul>
			<br>
			<h3>Version 0.05</h3>
			<ul>
				<li>Fixed Gravatar Images</li>
				<li>Got Creepy Baby gif to work on 500.html page</li>
				<li>Added Contact Page</li>
				<li>Added About Page</li>
				<li>Added Version Page (the one you're on now)</li>
				<li>Added all new pages to date links to the header</li>
				<li>Added New Todo link to the header</li>
				<li>Added Status field to the Todo Object</li>
				<li>Added Difficulty field to the Todo Object</li>
			</ul>
		</div>
	</div>
</body>
