<div class="center hero-unit">
		<h1>Welcome to TodoRaider!</h1>
		
		<p>Create ToDo Lists for you to follow!</p>
		
		<%= link_to "Sign Up Here!", signup_path, class: "btn btn-large btn-primary" %>
		<%= link_to "Find your Friends (and other Users) Here!", users_path, class: "btn btn-large btn-primary" %>
</div>