<div class="center hero-unit">
		<h1>Welcome to TodoRaider!</h1>
		
		<p>Literally the simplest todo app ever or your money back guaranteed!</p>

		<p>Sign up for the free beta program!</p>
		
		<%= link_to "Sign Up Here!", signup_path, class: "btn btn-large btn-primary" %>
</div>