<h1>Welcome to the To Do app!</h1>
<p>This app allows people to create a to do list for themselves on the browser!</p>
<%= link_to "Check out the To Do List!", todos_path %>
<%= link_to "Check out all the Users on this app!", users_path %>