<li>
	<span class="content"><%= todo.entry %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(todo.created_at) %> ago.
	</span>
	<% if current_user?(todo.user) %>
		<%= link_to "delete", user_todo_path([@todo, current_user]), method: :delete,
																		 data: { confirm: "You sure?" },
																		 title: todo.entry %>
	<% end %>
</li>