/* _todo.html.erb */

@media all and (max-width: 940px) {
	.todo-tag {
		display: none;
	}

	.numbers {
		display: none;
	}
}

@media all and (max-width: 760px) {
	.numbers {
		display: none;
	}
}

.todo{
	margin: -10px;
	margin-top: 20px;
	padding: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: #777777;
	border-radius: 10px;
	-moz-box-shadow: 0px 5px 0px #777777;
	-webkit-box-shadow: 0px 5px 0px #777777;
	box-shadow: 0px 5px 0px #777777;
}

.todo_material{
	/*margin: -10px;*/
	/*position: relative;*/
	z-index: 1;
	margin-top: 20px;
	padding: 15px;
	border-radius: 5px;
	/*transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);*/
	transition: box-shadow 0.2s ease-in-out;
	
	/*transition: 0.2s ease-in-out;*/
	
  /*transition-delay: 0.2s;*/
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.30);
	/*border-style: solid;
	border-width: 1px;
	border-color: #777777;*/
	/*border-radius: 10px;*/
	/*-moz-box-shadow: 0px 5px 0px #777777;
	-webkit-box-shadow: 0px 5px 0px #777777;
	box-shadow: 0px 5px 0px #777777;*/
}

.todo_material:hover{
	z-index: 2;
	/*transform: scale(1.05);*/
	cubic-bezier(0.4, 0, 0.2, 1);
	/*box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.26);*/
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);

  transition-delay: 0s;
}

/*.todo_material:active{
	transition: height 1.0s;
	height: 150px;
  transition-delay: 0.5s;
}*/

#borderBottom{
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#marginTop{
	margin-top: 0px;
}
#padBottom{
	/*margin-bottom: 10px;*/
}

#todo-tag {
	font-size: 200%;
}

.listName {
	font-size: 150%;
	font-style: bold;
}

.listName_material {
	text-align: center;
	font-size: 150%;
	font-style: bold;
}

.entry {
	font-size: 150%;
	text-align: left;
	line-height: 1.5em;
}

.entry_material {
	font-size: 150%;
	text-align: left;
	padding-bottom: 10px;
	/*line-height: 1.5em;*/
} 
 
.numbers {
	font-size: 300%;
	text-align: center;
}

.numbers_material {
	font-size: 300%;
	text-align: center;
}

.dueDate{
	font-size: 150%;
	text-align: right;
}

.dueDate_material{
	font-size: 300%;
	text-align: center;
} 

.status{
	font-size: 150%;
	margin-bottom: 5px;
}

.status_material{
	font-size: 150%;
	margin-bottom: 20px;
}

.links {
	margin-top: 20px;
	text-align: center;
}

.status-Todo{
	background-color: #3D8A99;
	border-style: solid;
	border-width: 1px;
	border-color: #2a5e68;
	border-radius: 10px;
	-moz-box-shadow: 0px 5px 0px #2a5e68;
	-webkit-box-shadow: 0px 5px 0px #2a5e68;
	box-shadow: 0px 5px 0px #2a5e68;
}

.status-InProgress{
	background-color: #14AECC;
	border-style: solid;
	border-width: 1px;
	border-color: #0e798e;
	border-radius: 10px;
	-moz-box-shadow: 0px 5px 0px #0e798e;
	-webkit-box-shadow: 0px 5px 0px #0e798e;
	box-shadow: 0px 5px 0px #0e798e;
}

.status-Complete{
	background-color: #00FF9B;
	border-style: solid;
	border-width: 1px;
	border-color: #00bb72;
	border-radius: 10px;
	-moz-box-shadow: 0px 5px 0px #00bb72;
	-webkit-box-shadow: 0px 5px 0px #00bb72;
	box-shadow: 0px 5px 0px #00bb72;
}

.status-MTodo{
	background-color: #3D8A99;
}

.status-MInProgress{
	background-color: #14AECC;
}

.status-MComplete{
	background-color: #00FF9B;
}