/* _todo.html.erb */

@media all and (max-width: 940px) {
	.todo-tag {
		display: none;
	}
	.todo-priority{
		display: none;
	}
	.numbers {
		display: none;
	}
}

@media all and (max-width: 760px) {
	.numbers {
		display: none;
	}
}

/*section.todo_table[max-width~="600px"] > .todo-tag,
section.todo_table[max-width~="600px"] > .numbers {
	display: none;
}*/


/*.todo-table[max-width~="850px"] .todo-tag {
	display: none;
}

.todo-table[max-width~="760px"] .numbers {
	display: none;
}*/

table {
	width: 100%;
	height: auto;
}

tr.zebraHover{
	background-color: #FFFACD;
}

th, td {
	padding: 10px 10px 10px 10px;
	border-right: 4px solid #FFFFFF;
	text-align: center;
}

/*.todo-entry{
	width: 50%;
}*/

th {
	border-bottom: 2px solid #111111;
}

td.todo-tag {
	font-size: 200%;
}

td.todo-list {
	font-size: 200%;
}

td.todo-entry {
	font-size: 200%;
	text-align: left;
} 
 
.todo-calc {} 

td.todo-priority{
	font-size: 200%;
}

td.numbers {
	font-size: 300%;
} 

.todo-status{
	width: 20%;
}

td.todo-status {
	font-size: 200%;
} 

.todo-link {
	width: 10%;
}