// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {

	border-radius: 5px;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.30);
	padding: 20px;

	&:hover {
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);

		transition-delay: 0s;
	}

	.gravatar {
		text-align: center;
		padding-bottom:10px;
	}

	.prof_field {
		font-size: 150%;
		padding: 10px;
	}

	.btn {
		margin-top: 20px;
		color: white;
	}

}

.user_form {
	@extend .profile;
}
